.error-display {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  /* max-width: 70rem; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.error-display__icon {
  color: var(--error);
  max-width: 30%;
}

.error-display__icon svg {
  fill: none;
}
.error-display p {
  width: 80%;
  text-align: center;
  color: var(--error);
  font-size: clamp(1.5rem, 3.4vw, 2.7rem);
  text-transform: uppercase;
  line-height: normal;
}

.error-display__fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.error-display__fields li {
  font-size: 1.6rem;
  border: 0.3rem solid var(--error);
  border-radius: 1.2rem;
  padding: 0.5rem 0.8rem;
  color: var(--error);
}
