.instructions {
  color: var(--color-acent);
  font-size: clamp(2rem, 4vw, 4.5rem);
  line-height: 1.2;
  font-family: var(--font-title);
  line-height: normal;
  height: 100%;
}
.instructions button {
  margin: 4rem auto 0 auto;
}
.instructions-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85%;
  margin: 20% auto 0 auto;
}
