.notification {
  position: fixed;
  top: -30vh; /* Valor suficientemente grande para que esté fuera de la pantalla */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 60rem;
  height: auto;
  background-color: var(--error);
  animation: slide-in-out 5s ease-in-out;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  z-index: 5;
}
.notification__message {
  color: var(--primary);
  font-size: 2rem;
  line-height: normal;
  text-align: center;
  color: var(--secundary);
}

@keyframes slide-in-out {
  0% {
    top: -30vh;
  }
  10% {
    top: 5%;
  }
  90% {
    top: 5%;
  }
  100% {
    top: -30vh;
  }
}
