.court-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 100%;
  max-width: 40rem;
  height: auto;
  max-height: 25rem;
}

.court-card__img-wrap {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
}

.court-card__img-wrap img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.court-card__img-wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem 2rem 0 0;
}

.court-card__delete-btn,
.court-card__close-btn {
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
.court-card__delete-btn:hover,
.court-card__close-btn:hover {
  transform: scale(1.2);
}

.court-card__delete-btn {
  border-radius: 50%;
  background-color: #bc331d;
  top: -1rem;
  right: -1rem;
}
.court-card__close-btn:hover button path {
  fill: var(--color-yellow);
}

