.navbar {
  flex: 0 0 auto;
  width: 100%;
  z-index: 10;
  padding-bottom: 1rem;
}
.navbar__wrap {
  width: 85%;
  margin: 0 auto;
  padding: 10px 5px;
  border-radius: 2rem;
  max-width: 50rem;
  background-color: var(--primary);
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--ternary);
}
.navbar__link-item {
  width: clamp(4rem, 9vw, 5rem);
}
.navbar__link-item svg {
  height: 100%;
}

/* Viewport Block*/
@media (min-width: 0px) and (max-width: 250px) {
  .navbar {
    display: none;
  }
}
