.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  z-index: 10;
}
.navbar__wrap {
  width: 70%;

  margin: auto;
  padding: 0.7rem 0.5rem;
  border-radius: 2rem;
  max-width: 40rem;
  background-color: var(--primary);
  border: var(--global-border-size) solid var(--ternary);
}
.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--ternary);
}
.navbar__link-item {
  width: clamp(4rem, 9vw, 5rem);
}
.navbar__link-item svg {
  height: 100%;
}

/* Viewport Block*/
@media (min-width: 0px) and (max-width: 250px) {
  .navbar {
    display: none;
  }
}
