.court-detail-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 1rem auto;
}
.court-detail-header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.court-detail__name {
  font-family: var(--font-title);
  font-size: clamp(2rem, 4.5vw, 5rem);
  text-transform: uppercase;
  line-height: normal;
}
.court-detail__rating {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.court-detail__icon-container {
  width: clamp(3rem, 3vw, 4rem);
  color: var(--accent);
}

.court-detail__game-level {
  display: flex;
  height: 100%;
}
.court-detail__game-level p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  line-height: normal;
  margin: auto 0;
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
}
.court-detail__game-level span {
  font-family: var(--font-title);
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .court-detail-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
  .court-detail__game-level p {
    flex-direction: row;
  }
  .court-detail__game-level,
  .court-detail-header__wrapper {
    height: auto;
  }
}
