.txt {
  font-family: var(--font-body);
  font-size: 1.8rem;
  color: var(--color-white);
  line-height: 2.5rem;
}

/* Modificadores */
.txt--small {
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}

.txt--center {
  text-align: center;
}

.txt--left {
  text-align: left;
}

.txt--right {
  text-align: right;
}

.txt--bolt {
  color: var(--color-orange);
  font-family: var(--font-title);
}
