.btn {
  width: fit-content;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--ternary);
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-size: 1.5rem;
  font-family: var(--font-btn);
  text-transform: uppercase;
  border: 0.2rem solid var(--ternary);
}
/* - - - - - - */
.btn:hover {
  color: var(--black);
}
.btn:active {
  transform: scale(1.1);
}
.active {
  color: var(--black) !important;
  border-color: var(--black);
}
/* - - - - - - */
.inactive {
  background-color: var(--primary);
}
.inactive:hover {
  color: var(--accent);
}
/* - - - - - - */
.btn svg {
  height: 100%;
  max-width: 6rem;
}
.btn a {
  font-family: var(--font-body);
  height: 100%;
  width: 100%;
}
.no-padding {
  padding: 0;
}
/* - - - - - - */

.court-card-btn {
  width: 100%;
}
/* - - - - - - */

.delete-comment-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* - - - - - - */
.btn[data-variant="navbar"] {
  border-color: transparent;
  padding: 0;
}
.btn[data-variant="navbar"] a {
  padding: 0.5rem 1rem;
}
/* - - - - - - */
.btn[data-variant="secundary"],
.btn[data-variant="options"] {
  border: none;
  background-color: transparent;
  color: var(--ternary);
}
.btn[data-variant="secundary"]:hover {
  color: var(--accent);
}
.btn[data-variant="secundary"] svg {
  height: 100%;
  padding: 0;
}
.btn[data-variant="secundary"].active {
  color: var(--accent) !important;
}

/* - - - - - - */
.btn[data-variant="map-control"] {
  padding: 0.5rem;
  border-radius: 50%;
  width: 5rem;
}
.btn[data-variant="map-control"] svg {
  fill: transparent;
}
/* - - - - - - */
.btn[data-variant="back"] {
  color: var(--ternary);
  padding: 0.2rem 0.4rem;
}
.btn[data-variant="back"] svg {
  width: 4rem;
  fill: var(--ternary);
  padding: 0;
}
.btn[data-variant="back"]:hover svg {
  fill: var(--black);
}
/* - - - - - - */
.btn[data-variant="options"] {
  margin: 0 0 0 auto;
  max-width: 6rem;
}
.btn[data-variant="options"] svg {
  fill: transparent;
}
.btn[data-variant="options"]:hover svg {
  color: var(--black);
}
.btn[data-variant="link"] {
  background-color: transparent;
  padding: 0;
  border: none;
  text-decoration: underline;
  text-transform: capitalize;
  color: var(--secundary);
  font-size: 1.2rem;
}

.btn[data-variant="delete"] {
  background-color: var(--error);
  color: var(--primary);
  border-color: var(--primary);
}

.btn[data-variant="delete"]:hover {
  background-color: var(--error);
  color: var(--white);
  border-color: var(--white);
}

.btn[data-variant="feedback"] {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 15%;
  right: 2%;
  z-index: 5;
}
.btn[data-variant="feedback"] svg {
  fill: none;
  max-width: 3rem;
}
