.btn {
  width: fit-content;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--ternary);
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-size: 1.5rem;
  font-family: var(--font-btn);
  text-transform: uppercase;
  border: 0.2rem solid var(--ternary);
}

/* - - - - - - */
.btn[data-variant="primary"] {
  background-color: var(--accent);
  color: var(--ternary);
}
/* - - - - - - */
.btn[data-variant="secundary"] {
  border: none;
  background-color: transparent;
  color: var(--ternary);
}
.btn[data-variant="secundary"]:hover {
  background-color: transparent;
  color: var(--accent);
}
/* - - - - - - */
.btn[data-variant="btn--navbar"] {
  border-color: var(--ternary);
  background-color: var(--accent);
  color: var(--primary);
}

/* - - - - - - */
.btn[data-variant="map-control"] {
  width: 6rem;
}
/* - - - - - - */
.btn[data-variant="theme"] {
  position: fixed;
  bottom: 20%;
  left: 1.5rem;
  z-index: 20;
}

/* - - - - - - */
.btn[data-variant="step-img"] {
  background-color: transparent;
  color: var(--accent);
  width: clamp(3rem, 8vw, 4rem);
  padding: 0;
}
.btn[data-variant="step-img"]:active {
  color: var(--accent);
}
/* - - - - - - */
.btn[data-variant="arrow"] {
  border: none;
  background-color: transparent;
  width: 5rem;
  padding: 0;
}
.btn[data-variant="arrow"] svg {
  height: 100%;
}

.btn[data-variant="arrow"]:active {
  color: var(--accent);
  transform: scale(1.1);
}

/* - - - - - - */
.btn--link {
  text-decoration: underline;
}

.btn--active {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  color: #242628 !important;
}
