.btn {
  width: fit-content;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--ternary);
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-size: 1.5rem;
  font-family: var(--font-btn);
  text-transform: uppercase;
  border: 0.2rem solid var(--ternary);
}
.btn:hover {
  color: var(--black);
}
.btn:active {
  transform: scale(1.1);
}

/* - - - - - - */
.btn[data-variant="primary"] {
  background-color: var(--accent);
  color: var(--ternary);
}
/* - - - - - - */
.btn[data-variant="secundary"] {
  border: none;
  background-color: transparent;
  color: var(--ternary);
}
.btn[data-variant="secundary"]:hover {
  color: var(--accent);
}
/* - - - - - - */
.btn[data-variant="btn--navbar"] {
  border-color: var(--ternary);
  background-color: var(--accent);
  color: var(--primary);
}

/* - - - - - - */
.btn[data-variant="theme"],
.btn[data-variant="map-control"] {
  padding: 0.5rem;
  border-radius: 50%;
  width: 5rem;
}

/* - - - - - - */
.btn[data-variant="step-img"] {
  background-color: var(--ternary);
  color: var(--primary);
  width: clamp(3rem, 6.5vw, 5.5rem);
  padding: 0.5rem;
}
.btn[data-variant="step-img"]:hover {
  background-color: var(--accent);
}
.btn[data-variant="step-img"]:active {
  transform: scale(1.1);
}
/* - - - - - - */
.btn[data-variant="arrow"] {
  border: none;
  background-color: transparent;
  width: 5rem;
  padding: 0;
}
.btn[data-variant="arrow"] svg {
  height: 100%;
}

.btn[data-variant="arrow"]:active {
  color: var(--accent);
  transform: scale(1.1);
}
/* - - - - - - */

.btn[data-variant="icon"] {
  width: clamp(3.5rem, 6vw, 5vw);
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 0 1rem auto;
}

.active {
  color: var(--black);
  border-color: var(--black);
}
.btn > svg {
  fill: transparent;
}

/* - - - - - - */
.btn--link {
  text-decoration: underline;
}

.btn--active {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  color: #242628 !important;
}
