.court-details__tabs-wrap {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 140rem;
  margin: 0 auto;
}
.court-details__tabs-buttons {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.court-details__tabs-buttons button {
  font-size: clamp(1.3rem, 2vw, 2.2rem);
}

.court-details__tab-content {
  flex: 1 1 80%;
  background-color: var(--primary);
  width: 95%;
  margin: 0 auto;
  border-radius: 1.2rem;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
}
