.court-details__tabs-wrap {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  gap: 1.5rem;
  max-width: 140rem;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 1.2rem;
  padding: 1em;
}
.court-details__tabs-buttons {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background);
  border: var(--global-border-size) solid var(--accent);
  border-radius: 0.8rem;
  flex-wrap: wrap;
  padding: 0.8em 0;
}
.court-details__tabs-buttons button {
  font-size: clamp(1.2em, 1.3vw, 1.6em);
  padding: 0;
}

.court-details__tab-content {
  flex: 1 1 80%;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 800px) {
  .court-details__tabs-wrap {
    height: 100%;
    /* border-radius: 1.2rem 0 0 1.2rem; */
  }
}
