.crd-welcome__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.crd-welcome__img {
  width: clamp(12rem, 5vw, 18rem);
  height: clamp(12rem, 5vw, 18rem);
}

.crd-welcome__btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: clamp(20rem, 100%, 45rem);
  height: clamp(2.5rem, 5vh, 4.5rem);
}

.crd-welcome__btn-wrap {
  flex: 1 0 20rem;
}

.crd-welcome__btn-wrap button {
  margin: 0 auto;
}
