.user-courts {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}
.user-courts__btns-wrap {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.user-courts__wrap {
  flex: 1 1 80%;
  padding-top: 2rem;
}
