.form-step__btns-wrap {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.5% 3%;
}
.arrow-container {
  height: 5rem;
}
.arrow-container svg {
  height: 100%;
}
.flip {
  transform: rotate(180deg);
}
