.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  height: 100%;
  width: 90%;
}
.instructions__img {
  width: clamp(8rem, 8vw, 10rem);
}
.instructions button {
  margin-top: 2rem;
}
.instructions-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
