.user-profile-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .user-profile-page {
    flex-direction: row;
  }
}
