.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.page-wrapper .column {
  flex-direction: column;
}

.page-wrapper[data-page="confirm-account"] {
  align-items: center;
  justify-content: center;
}
