.map-title {
  color: #000000;
  font-size: 20px;
  line-height: normal;
}
.map-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.map__court-card {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: min(20vh, 15rem);
  left: 0;
  z-index: 3;
}
