.schedule-builder__set {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.schedule-builder__days-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  overflow-x: scroll;
  height: 8rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-acent);
  width: 100%;
}
.schedule-builder__days-item {
  font-family: var(--font-body);
  font-size: 2rem;
  color: var(--color-white);
  background-color: var(--color-gray);
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}
.schedule-builder__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
#time-picker {
  width: 70%;
}

/* Modificadores */
.schedule-builder__days-item input[type="checkbox"] {
  width: 0.8em;
  height: 0.8em;
}
