.court-details-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  max-width: 250rem;
  margin: 0 auto;
}

.court-details-container > div:first-child {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

@media screen and (min-width: 800px) {
  .court-details-container {
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
  }

  .court-details-container > div:first-child {
    width: 40%;
    height: 80%;
  }
}
