.court-card__header {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  top: 1.2rem;
  left: 7%;
  z-index: 2;
}
.court-card__header-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.court-card__icon {
  width: clamp(1.5rem, 2vw, 2rem);
  height: clamp(1.5rem, 2vw, 2rem);
}
