.description-tab__txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.description-tab__txt-wrap p {
  width: 90%;
}

.description-tab__txt-wrap::after,
.description-tab__txt-wrap::before {
  content: "";
  top: 0;
  left: 0;
  width: 40%;
  height: 0.2rem;
  background-color: var(--color-gray);
  border-radius: 50%;
}
