.schedules-container {
  width: 90%;
}
.schedules {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.schedules__set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.schedules__days-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0.6rem;
  align-items: center;
  width: 75%;
}
.schedules__day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  color: var(--color-black);
  background-color: var(--color-acent);
  width: 2.5rem;
  height: 2.5rem;
}
.schedules__time {
  font-family: var(--font-body);
  color: var(--color-white);
  font-size: 2rem;
}
