.map-selector {
  position: relative;
  width: 100% !important;
  height: 100%;
  max-width: none !important;
}

.cargando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rebeccapurple;
}
