.comment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  border: 0.2rem solid var(--secundary);
  border-radius: 1.5rem;
  gap: 2rem;
}
.comment__avatar {
  background-color: var(--color-acent);
  border-radius: 50%;
  overflow: hidden;
  width: 5rem;
  border: 0.3rem solid var(--accent);
}
.comment__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.comment__header-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.comment__user {
  font-family: var(--font-title);
  font-size: clamp(1.8rem, 2vw, 2rem);
  text-transform: uppercase;
  color: var(--secundary);
  align-self: flex-end;
  justify-self: center;
}
.comment__rating {
  display: flex;
  gap: 0.2rem;
  align-self: center;
  justify-self: center;
  width: 90%;
}
.comment__rating li {
  width: clamp(2rem, 2vw, 2.9rem);
  height: clamp(2rem, 2vw, 2.9rem);
  color: var(--accent);
}
.comment__content {
  width: 90%;
  font-size: 1.7rem;
  line-height: normal;
}
