/* Elementos Padre */
.form-step {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  padding-top: clamp(3rem, 8%, 8rem);
  gap: clamp(1rem, 3%, 2rem);
}
.form-step__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 100%;
  min-height: 65%;
  max-height: 65%;
  background-color: var(--color-black);
  border-radius: 1.2rem;
}
.form-step__active {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2.5rem;
  align-items: center;
  height: 85%;
  width: 100%;
  overflow-y: auto;
}

.step-description,
.step-imgs,
.step-court,
.step-time,
.step-services {
  width: 100%;
  max-width: 65rem;
  padding: 2em 3em;
}
.step-description,
.step-court {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 5vh, 5em);
}

/* Ocultar Scrolls */
.form-step__data::-webkit-scrollbar {
  width: 0.5em; /* Ancho de la barra de desplazamiento */
  background-color: transparent;
}
.form-step__data::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.form-step__data::-webkit-scrollbar-track {
  background-color: transparent;
}
