.court-details__imgs {
  width: 100%;
  height: 35%;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.court-details__imgs-buttons {
  display: flex;
  padding: 0.6em 1em;
  gap: 1.2rem;
  background-color: var(--primary);
  border-radius: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  max-height: 5rem;
}
.court-details__imgs-buttons button:nth-child(2) svg {
  width: clamp(1.3em, 2.1vw, 1.5em);
}

@media screen and (min-width: 800px) {
  .court-details__imgs {
    height: 100%;
  }
}
