.roof-floor-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 50rem;
  margin: 1em auto auto auto;
}

.roof-floor-wrapper li {
  padding: 0.6rem 0;
  border-radius: 1.2rem;
  border: var(--global-border-size) solid var(--secundary);
  width: 10rem;
  display: flex;
  align-items: center;
}
.roof-floor-wrapper li p {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.roof-floor-wrapper li p span {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 1.5rem;
}
