.step-imgs {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.step-imgs__uploader {
  flex: 2 0 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  border: none;
}
.step-imgs__input {
  visibility: hidden;
}
.step-imgs__icon {
  width: 7em;
  height: 7em;
  fill: transparent;
}
.step-imgs__list-wrap {
  flex: 1 0 40%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 8rem;
  border: 0.3rem dashed var(--color-yellow);
}
.step-imgs__list-img {
  flex-basis: 20%;
}
.step-imgs__image-wrap {
  position: relative;
}
.step-imgs__uploader button {
  margin-top: 0.6em;
}
