.user-info {
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border-radius: 0 0 1.8rem 1.8rem;
  padding: 1.5rem;
  gap: 2rem;
  height: 15%;
}
.user-info__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.user-info__avatar {
  width: clamp(7rem, 10vw, 10rem);
  height: clamp(7rem, 10vw, 10rem);

  border-radius: 50%;
  border: 0.3rem solid var(--primary);
  overflow: hidden;
  max-width: 100%;
}
.user-info__avatar img {
  height: 100%;
}
.user-info__text-wrap {
  color: #242628;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-info__text-wrap p {
  font-family: var(--font-title);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.user-info__link {
  font-size: 2rem;
  text-decoration: underline;
}
