.App {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.app-content {
  position: relative;
  height: 92%;
  width: 100%;
  z-index: 2;
}

.responsive {
  display: none;
}
