:root {
  --global-border-size: 0.3rem;
}

.danger {
  color: var(--error);
}

textarea {
  width: 90%;
  border: solid 0.3rem var(--ternary);
  border-radius: 0.5rem;
  outline: none;
  min-height: 15rem;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  padding: 1rem;
  resize: none;
}
textarea:focus {
  border-color: var(--accent);
}

/* animations */

/* skeleton loader animation */
@keyframes shimmer {
  0% {
    background-color: #f2f2f2; /* color gris claro */
    opacity: 0.6;
  }
  50% {
    background-color: #e5e5e5; /* color gris medio */
    opacity: 0.8;
  }
  100% {
    background-color: #f2f2f2; /* color gris claro */
    opacity: 0.6;
  }
}
