.map-wrapper {
  width: 100%;
  height: 100%;
  color: var(--primary);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: 1rem;
  color: var(--primary);
}
.leaflet-bottom {
  display: none;
}

.leaflet-popup-content-wrapper {
  background: var(--primary) !important;
  border-radius: 1.2rem !important;
  overflow: hidden;
  text-align: unset !important;
}
.leaflet-popup-tip {
  background-color: var(--color-black) !important;
}

.leaflet-popup-content {
  background-color: transparent;
  margin: 0 !important;
  width: clamp(35rem, 20vw, 40rem) !important;
  height: 25rem !important;
}
.leaflet-popup-content p {
  margin: 0 !important;
}
.leaflet-container a {
  color: currentColor !important;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 1rem !important;
  right: 1rem !important;
  color: var(--ternary) !important;
  z-index: 2 !important;
  background-color: var(--primary) !important;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  place-content: center;
}
.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
  color: var(--primary) !important;
  background-color: var(--accent) !important;
}
.leaflet-popup-close-button span {
  color: currentColor;
  transform: scale(2.5) !important;
}

/* ---- zoom map control styles */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  color: var(--ternary);
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar :hover {
  color: var(--accent);
}
.leaflet-touch .leaflet-bar {
  border: 0.1rem solid var(--ternary) !important;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  background-color: var(--primary) !important;
  border: none;
}
.leaflet-bar a {
  border: 0.1rem solid var(--ternary) !important;
}

/* -------- */
