.court-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.court-header__btns-wrap {
  display: flex;
  gap: 2rem;
  padding: 0.8rem 1rem;
  background-color: var(--primary);
  border-radius: 2rem;
}

.court-header__image-container {
  height: 20rem;
  width: 100%;
}
.court-tabsPro {
  width: 100%;
  flex: 1 1 60%;
}

.court-header__detais {
  color: var(--color-white);
}
.court-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.court-header__game-lvl {
  font-family: var(--font-title);
  color: var(--color-yellow);
  font-size: clamp(1.5rem, 1.4vw, 1.8rem);
  margin-left: 1.5rem;
}

/* Left side */
.court-header__stars-wrap {
  display: flex;
  color: var(--color-yellow);
}
.court-header__stars-wrap li {
  width: clamp(2rem, 5vw, 3rem);
  height: clamp(2rem, 5vw, 3rem);
}
.court-header__star-icon {
  width: 100%;
  height: 100%;
}

/* right side */
.court-header__author {
  display: flex;
  gap: 1.5rem;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}
.court-header__author span {
  font-size: 1.6rem;
}
.court-header__author img {
  width: clamp(4rem, 5vw, 5rem);
  height: clamp(4rem, 5vw, 5rem);
  border-radius: 50%;
  border: 0.2em solid var(--color-yellow);
}
.court-header__author-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.court-header__divisor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 2rem;
  object-fit: contain;
}
