.schedules {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.schedules__set {
  display: flex;
  align-items: center;
  border: var(--global-border-size) solid var(--secundary);
  padding: 1rem 0.8rem;
  border-radius: 1.2rem;
}
.schedules__days-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 0.6rem;
  align-items: center;
  width: 75%;
  flex: 3 1 80%;
}
.schedules__day {
  width: clamp(2.8rem, 5vw, 4rem);
  height: clamp(2.8rem, 5vw, 4rem);
  display: flex;
  border-radius: 50%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--accent);
}
.schedules__day span {
  font-family: var(--font-body);
  color: var(--color-black);
  font-size: 1.7em;
  display: block;
  font-weight: bold;
}
.schedules__time {
  font-family: var(--font-body);
  color: var(--secundary);
  font-size: 2.2rem;
  flex: 0 0 auto;
}
