.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.credentials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.credentials__img {
  width: clamp(12rem, 5vw, 18rem);
  height: clamp(12rem, 5vw, 18rem);
}
.credentials__title {
  font-family: var(--font-titles);
  line-height: normal;
  font-size: 2.8rem;
  color: var(--color-orange);
  text-align: center;
}
