.title {
  font-family: var(--font-title);
  text-transform: uppercase;
  line-height: normal;
}

/* variants */
.title[data-size="title--xlg"] {
  font-size: 4rem;
}

/* Modificadores */
.title--small {
  font-size: clamp(1.5rem, 1.4vw, 1.8rem);
}

.title--acent {
  color: var(--accent);
}
