.title {
  line-height: normal;
  font-family: var(--font-title);
  font-size: clamp(2.3rem, 2.5vw, 3.2rem);
  line-height: 1.2;
  color: var(--color-orange);
  text-align: center;
  width: 100%;
}

/* Modificadores */
.title--uppercase {
  text-transform: uppercase;
}
.title--small {
  font-size: clamp(1.5rem, 1.4vw, 1.8rem);
}

.title--form-sub {
  font-family: var(--font-title);
  font-size: clamp(1.8rem, 3.2vw, 2.8rem);
  line-height: normal;
  color: var(--color-yellow);
}
.title--left {
  text-align: left;
}

.title--yellow {
  color: var(--color-yellow);
}

.title--acent {
  color: var(--color-acent);
}
.title--black {
  color: var(--color-black);
}
